---
title: Home
---

<h1>Latest Posts</h1>
<br></br>

{% assign posts = site.posts %}
{% for post in posts %}
    <article class="post">

        <div class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <ul class="post-meta">
                <li><i class="mdi mdi-calendar"></i>{{ post.date | date_to_string }}</li>
            </ul>
        </div>

        {% if post.categories contains "documentation" %}
            <a href="{{ post.url }}" style="color: black">
                <div class="post-content">
                    <p>{{ post.excerpt }}</p>
                </div>
            </a>
        {% endif %}
    </article>
{% endfor %}
