<!-- Left Menu Start -->
<ul class="metismenu" id="side-menu">

    <li>
        <a href="../"><span> Home</span></a>
    </li>

    <li>
        <a href="javascript: void(0);"><span> Features </span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="../standard-post.html">Standard Post</a></li>
            <li><a href="../video-post.html">Video Post</a></li>
            <li><a href="../audio-post.html">Audio Post</a></li>
        </ul>
    </li>

    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://redhat-connect.gitbook.io/certified-operator-guide/"><span> Operator Certification </span></a>
    </li>

    <li>
        <a href="javascript: void(0);"><span> Partner Engagement </span></a>
    </li>

    <li>
        <a target="_blank" rel="noopener noreferrer" href="http://workshop.coreostrain.me/support/"><span> Operator Workshop </span></a>
    </li>

    <li>
        <a href="../about.html">About</a>
    </li>

    <li>
        <a href="../contact.html">Contact</a>
    </li>

</ul>
