<!-- Left Menu Start -->
<ul class="metismenu" id="side-menu">

    <li>
        <a href="../"><span> Home</span></a>
    </li>

    <li>
        <a href="javascript: void(0);"><span> Categories </span></a>
        <ul class="nav-second-level" aria-expanded="false">
            {% assign a = site.posts | group_by:"categories" | sort:"size" %}
            {% for category in a %}
                {% assign category_slug = category['name'] | slugify: "raw" | remove: '["' | remove: '"]' %}
                <li><a href={{ "../" | append: category_slug | append: "/" }}>{{ category_slug | capitalize }} ({{ category['size'] }})</a></li>
            {% endfor %}
        </ul>
    </li>

    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://redhat-connect.gitbook.io/certified-operator-guide/"><span> Operator Certification </span></a>
    </li>

    <li>
        <a href="javascript: void(0);"><span> Partner Engagement </span></a>
    </li>

    <li>
        <a target="_blank" rel="noopener noreferrer" href="http://workshop.coreostrain.me/support/"><span> Operator Workshop </span></a>
    </li>

</ul>
