---
layout: default
title: page.tag
---

<!-- requires slugify to convert to string saved in a variable so it can be used in conditional -->
<!-- filters through posts to only gather ones with the correct category -->
<!-- loops over posts to display on the page -->
{% assign category_slug = page.title | slugify: "raw" %}
{% assign category_posts = site.posts | where_exp: "post", "post.categories contains category_slug" %}
{% for post in category_posts %}
    <article class="post">

            <div class="post-header">
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <ul class="post-meta">
                    <li><i class="mdi mdi-calendar"></i>{{ post.date | date_to_string }}</li>
                </ul>
            </div>
            {% if category_slug == "documentation" %}
                <a href="{{ post.url }}" style="color: black">
                    <div class="post-content">
                        <p>{{ post.excerpt }}</p>
                    </div>
                </a>
            {% endif %}

    </article>

{% endfor %}
