<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Top Bar Start -->
            <div class="topbar-mobile">
                <div class="logo">
                    <a href="../"><img src="../assets/images/red-logo.jpg" alt="" class="" style="height: 66px;"></a>
                    <button class="button-menu-mobile">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
            </div>
            <!-- Top Bar End -->
            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <div class="slimscroll-menu" id="remove-scroll">

                    <div class="logo">
                        <a href="../"><img src="../assets/images/red-logo.jpg" alt="" class="" style="height: 66px;"></a>
                        <p class="text-muted">The Central location for everything operators. Resources and content curated by Red Hat's Operator Enablement and Tooling Team.</p>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        {% include navigation.html %}

                        <div class="copyright-box">
                            <p>2023 © Operator Enablement & Tooling Team </p>
                        </div>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- Wrapper -->
            <div class="page-wrapper">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="page-title">
                                    <div class="row">
                                        <div class="col-md-9 col-xs-12">
                                            <h2><span>{{ page.title }}</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="mt-5 pb-5">
                    <div class="container">

                        <div class="row" style="justify-content: space-between;">
                            <!-- Content-->
                            <div class="col-xl-8">

                            {{ content }}

                            </div>
                            <!-- Content end-->

                            <!-- Sidebar-->
                            <div class="col-xl-4">
                                <div class="sidebar">

                                    <!-- Search widget-->
                                    <aside class="widget widget_search">
                                        <!-- Html Elements for Search -->
                                       {% include search.html %}
                                    </aside>

                                    <!-- Categories widget-->
                                    <aside class="widget widget_categories">
                                        <div class="widget-title all-tags">Categories</div>
                                            <ul>
                                                {% assign a = site.posts | group_by:"categories" | sort:"size" %}
                                                {% for category in a %}
                                                    {% assign category_slug = category['name'] | slugify: "raw" | remove: '["' | remove: '"]' | capitalize %}
                                                    <li class="tagcloud"><a href={{ "../" | append: category_slug | append: "/" }}>{{ category_slug }} ({{ category['size'] }})</a></li>
                                                {% endfor %}
                                            </ul>
                                    </aside>

                                    <!-- Archives widget-->
                                    <aside class="widget">
                                        <div class="widget-title">Archives</div>

                                        <ul>
                                            <li><a href="#">March 2017</a> (40)</li>
                                            <li><a href="#">April 2017</a> (08)</li>
                                            <li><a href="#">May 2017</a> (11)</li>
                                            <li><a href="#">Jun 2017</a> (21)</li>
                                        </ul>

                                    </aside>

                                    <!-- Tags widget-->
                                    <aside class="widget widget_tag_cloud">
                                        <div class="widget-title">Tags</div>
                                        <div class="tagcloud"></div>
                                    </aside>
                                </div>
                            </div>
                            <!-- Sidebar end-->
                        </div>

                    </div>
                    <!-- end container -->
                </section>
            </div>
            <!-- End Wrapper -->

        </div>
        {% include scripts.html %}
    </body>

</html>
