<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Top Bar Start -->
            <div class="topbar-mobile">
                <div class="logo">
                    <a href="index.html"><img src="../assets/images/red-logo.jpg" alt="" class="" style="height: 66px;"></a>
                    <button class="button-menu-mobile">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
            </div>
            <!-- Top Bar End -->
            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <div class="slimscroll-menu" id="remove-scroll">

                    <div class="logo">
                        <a href="index.html"><img src="../assets/images/red-logo.jpg" alt="" class="" style="height: 66px;"></a>
                        <p class="text-muted">The Central location for everything operators. Resources and content curated by Red Hat's Operator Enablement and Tooling Team.</p>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        {% include navigation.html %}

                        <div class="copyright-box">
                            <p>2023 © Operator Enablement & Tooling Team </p>
                        </div>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- Wrapper -->
            {{ content }}
            <!-- End Wrapper -->

        </div>
        {% include scripts.html %}
    </body>

</html>
