---
layout: default
title: Standard Post
---
<!-- Post-->
{% if page.categories contains "videos" %}
    <article class="post">
        <div class="post-header">
            <h2 class="post-title">{{ page.title }}</h2>
            <ul class="post-meta">
                <li><i class="mdi mdi-calendar"></i> {{ page.date | date_to_string }}</li>
                <li><i class="mdi mdi-tag-text-outline"></i> <a href="../videos">Videos</a></li>
            </ul>
        </div>

        <div class="post-preview">
            <div class="embed-responsive embed-responsive-16by9">
                {{ content }}
            </div>
        </div>

    </article>
{% else %}
    <article class="post">
        <div class="post-header">
            <h2 class="post-title">{{ page.title }}</h2>
            <ul class="post-meta">
                <li><i class="mdi mdi-calendar"></i> {{ page.date | date_to_string }}</li>
                <li><i class="mdi mdi-tag-text-outline"></i> <a href="../documentation">Documentation</a></li>
            </ul>
        </div>

        <div class="blog-detail-description">
            <p>{{ content }}</p>
        </div>
    </article>
{% endif %}


<!-- Post end-->
